@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  @apply text-4xl font-bold text-center mb-10 text-subtitle;
}

p {
  @apply mb-6;
}

section {
  @apply py-10;
}

.imagen-fondo {
  background-image: url(/images/home/PluriversoPortada.png);
  background-size: cover;
}

body {
  background-color: #f4f4f4;
}

.imagen-paralax {
  height: 25rem;
  background-image: url(/images/home/homeParalax.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.imagen-fondo-pluriverso {
  background-image: url(/images/cover/pluriverso2.webp);
  background-size: contain;
  background-attachment: fixed;
}

.imagen-fondo-creadores {
  background-image: url(/images/cover/creadores.webp);
  background-size: contain;
  background-attachment: fixed;
}

.imagen-fondo-videos {
  background-image: url(/images/cover/videos.webp);
  background-size: contain;
  background-attachment: fixed;
}

.imagen-fondo-recursos {
  background-image: url(/images/cover/pluriverso.webp);
  background-size: contain;
  background-attachment: fixed;
}

.imagen-fondo-galeria {
  background-image: url(/images/cover/pluriverso2.webp);
  background-size: contain;
  background-attachment: fixed;
}

.fondo-obcuro {
  background-color: rgba(0, 0, 0, 0.5);
}

/* HAMBURGER MENU */
.toggle-menu-icon {
  height: 50px;
  width: 50px;
  position: relative;
}

.first-bar,
.second-bar,
.third-bar {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  transition: transform 0.2s;
}

.first-bar {
  top: 15px;
}

.second-bar {
  top: 25px;
}

.third-bar{
  top: 35px;
}

.show-first-bar {
  transform: rotate(-45deg);
  top: 1.5rem;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  transition: transform 0.2s;
}

.show-second-bar {
  width: 0;
}

.show-third-bar {
  transform: rotate(45deg);
  top: 1.5rem;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  transition: transform 0.2s;
}