@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  @apply text-4xl font-bold text-center mb-10 text-subtitle;
}

p {
  @apply mb-6;
}

section {
  @apply py-10;
}

.imagen-fondo {
  background-image: url(/images/home/homeCover.png);
  background-size: cover;
}

body {
  background-color: #f4f4f4;
}

.imagen-paralax {
  height: 25rem;
  background-image: url(/images/home/homeParalax.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.imagen-fondo-pluriverso {
  background-image: url(/images/cover/pluriverso2.webp);
  background-size: contain;
  background-attachment: fixed;
}

.imagen-fondo-creadores {
  background-image: url(/images/cover/creadores.webp);
  background-size: contain;
  background-attachment: fixed;
}

.imagen-fondo-videos {
  background-image: url(/images/cover/videos.webp);
  background-size: contain;
  background-attachment: fixed;
}